<!--kind 1 content-->
<h2>Top Stories</h2>
<!-- <div class="top-stories"> -->
<foreach name="post_list" key="title1" item="post">
	<div class="media thumbnail">
		<a href="<{$post['url']}>" class="pull-left1">
			<div class="pull-left" style="width:150px">
				<img style="width:140px"  src="<{$post['thumb']}>" class="media-object" alt='<{$post["title"]}>' />
			</div>
		</a>
		<div class="media-body">
			<a href="<{$post['url']}>" class="pull-left1">
				<h4 class="media-heading title">
					<strong><{$post["title"]}></strong>
				</h4>
			</a>
			<small><{$post["description"]}></small><br />
			<info>
				<a href="#" class="pull-left1"><span class="label label-default">开发者<{$post['catid']}></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="pull-left1"><media><{$post['catid']}>NY-times</media></a>&nbsp;&nbsp;&nbsp;&nbsp;
				<time><{:date("Y-m-d", $post['addtime'])}></time>
			</info>
		</div>
		
	</div>
</foreach>
	
	
<!-- </div> -->