<!-- <div class="col-md-3 column right-content"> -->
<div class="col-md-3 column right-content">
	<foreach name="newest_posts" key="title1" item="n_post">
		<a class="media thumbnail" href="<{$n_post['url']}>">
			<img class="img-thumbnail" onerror="this.onerror='';this.style='display:none'" alt="" src="<{$n_post['thumb']}>" />
			<span><strong><{$n_post['title']}></strong> </span>
		</a>
	</foreach>


	<div class="alert alert-dismissable alert-success">
		 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4>
			注意!
		</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
	</div>



	<div class="media">
		 <a href="#" class="pull-left"><img src="__STATIC__/img/upload.png" class="media-object" alt='' /></a>
		<div class="media-body">
			<h5 class="media-heading">
				Toxic sites in likely path of Irma
				Nested media heading
			</h5> Cras sit amet nibh libero, 
		</div>
	</div>
	<div class="media">
		 <a href="#" class="pull-left"><img src="__STATIC__/img/upload.png" class="media-object" alt='' /></a>
		<div class="media-body">
			<h5 class="media-heading">
				Nested media heading
			</h5> Cras sit ame tempus viverra turpis.
		</div>
	</div>
</div>