<div class="col-md-3 column">
	<img class="img-thumbnail" alt="140x140" src="__STATIC__/img/news_b1.jpg" />
	<img class="img-thumbnail" alt="140x140" src="__STATIC__/img/news_b2.jpg" />

	<div class="alert alert-dismissable alert-success">
		 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4>
			注意!
		</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
	</div>

	<img class="img-thumbnail" alt="140x140" src="__STATIC__/img/alipay.jpg" />

	<div class="media">
		 <a href="#" class="pull-left"><img src="__STATIC__/img/upload.png" class="media-object" alt='' /></a>
		<div class="media-body">
			<h5 class="media-heading">
				Toxic sites in likely path of Irma
				Nested media heading
			</h5> Cras sit amet nibh libero, 
		</div>
	</div>
	<div class="media">
		 <a href="#" class="pull-left"><img src="__STATIC__/img/upload.png" class="media-object" alt='' /></a>
		<div class="media-body">
			<h5 class="media-heading">
				Nested media heading
			</h5> Cras sit ame tempus viverra turpis.
		</div>
	</div>
</div>