<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="author" content="erex">
<title><{:$meta_title}></title>
<style>
    .article-content img {
    display:block;
    margin:auto
    }
</style>
<include file="Common:head" />
</head>
<!-- <body class="easyui-layout" style="text-align:center"> -->
<body class="">
<div style="margin:0 auto">
    <h1 style="text-align:center"><{:$title}></h1>
    <div style="width:800px;height:40px;margin:0 auto;text-align:center">google adsgoogle adsgoogle adsgoogle adsgoogle ads</div>
    <div class="article-content" style="width:800px;margin:0 auto">
        <{:$content}>
    </div>
</div>

</body>
</html>